.link {
    text-decoration: none;
}

.grid_buttons {
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
    text-decoration: none;
}

.grid_buttons Link {
    text-decoration: none;
}

.addusers_form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px
}

.add_button {
    display: flex;
    align-items: center;
    gap: 12px
}

.setrelation_box, .finddegree_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
 
.user_select {
    min-width: 200px;
}

.relation_button {
    text-align: center;
}

.finddegree_result {
    margin: 10px auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.finddegree_result .error {
    color: red;
}

.eachdegree_result {
    text-align: left;
}

.users_list > div {
    margin-bottom: 1em;
}

.users_list strong {
    color: darkgoldenrod
}

#userinfo_title {
    font-weight: bold;
    color: darkred;
    margin-top: 2rem;
}

#username {
    color: darkgreen;
    font-size: 1.5 rem;
}